@import 'styles/varsMixFuncs';
@import 'styles/App';
@import 'styles/Music';
@import 'styles/Home';
@import 'styles/Course-Box-Button';
@import 'styles/All-courses-modal';
@import 'styles/Language-checkbox';


html, body {
  margin: 0;
  font-family: Futura, Raleway, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
}

code {
  font-family: 'Ubuntu Mono', source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:not(a):not(input) {
  -webkit-tap-highlight-color: transparent;
}

button {
  outline: none;
  cursor: pointer;
}

#root {
  width: 100%;
  height: 100%;
}
